.vh-100 {
  min-height: 100vh;
}
.w-600 {
  width: 600px;
}
.fs-xs {
  font-size: 1rem;
}
.w-10 {
  width: 10%;
}
a {
  text-decoration: none;
}
.fs-big {
  font-size: 5rem !important;
}
.online {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
}
.w-15 {
  width: 15%;
}
.fs-sm {
  font-size: 1.4rem;
}

small {
  color: #bbb;
  font-size: 0.7rem;
  text-align: right;
}

.rtext {
  border-radius: 18px 18px 0 18px;
  background: #4a7796;
  color: #fff;
}

.ltext {
  border-radius: 18px 18px 18px 0;
  background: #f8f9fa;
}

.chat-card {
  background: #37474f;
  border-radius: 8px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.chat-box {
  position: relative;
  min-height: 380px;
  max-height: 450px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #5c7784;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.nama-guru span {
  font-weight: bold;
  color: #fff;
}
.typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area button {
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  font-size: 19px;
  opacity: 0.7;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  z-index: 100;
  background: #6f8a9b;
}
.typing-area button:hover {
  background: #b7c4cd;
}
.typing-area textarea {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button.active {
  opacity: 1;
  pointer-events: auto;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
textarea {
  resize: none;
}

/*message_status*/
.messenger-box {
  padding-top: 15px;
}
.messenger-box ul {
  padding-left: 0;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
}
.messenger-box li {
  list-style: none;
  padding-bottom: 20px;
}
.messenger-box .send-time {
  font-size: 11px;
}
.messenger-box .msg-box {
  margin-left: 10px;
  margin-right: 10px;
}
.messenger-box .inner-box {
  position: relative;
  border-radius: 10px;
  background-color: #f1f2f7;
  font-size: 14px;
  color: #9aa0a4;
  padding: 14px 20px;
}
.messenger-box .inner-box .name {
  font-size: 16px;
  padding-bottom: 10px;
}
.messenger-box .inner-box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 18px;
  height: 18px;
  border-style: solid;
  border-width: 9px;
  border-color: transparent #f1f2f7 transparent transparent;
}
.messenger-box .msg-sent .msg-box {
  margin-right: 10px;
}
.messenger-box .msg-sent .inner-box:after {
  left: inherit;
  right: -18px;
  border-color: transparent transparent transparent #f1f2f7;
}
.messenger-box .send-mgs {
  margin-top: 20px;
  margin-bottom: 9px;
  position: relative;
}
.messenger-box .send-mgs .yourmsg {
  margin-right: 55px;
}
.messenger-box .send-mgs .yourmsg input {
  border: 1px solid #eceff1;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 7px;
}
.messenger-box .send-mgs .msg-send-btn {
  background: #03a9f3;
  color: #fff;
  font-size: 28px;
  border-radius: 7px;
  padding: 0;
  text-align: center;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.konseling-card {
  background: #5777ba;
  border: none;
}
